body {
  background: #603813;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #603813, #b29f94);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #603813, #b29f94);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Comfortaa', cursive;
}
header {
  text-align: center;
}
header nav {
  padding: 10px;
}
header nav button.btn-link,
header nav button.btn-success {
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  padding: 10px 20px;
  margin: 0 5px;
}
welcome-view {
  text-align: center;
}
